//
   Created by terences on 9/26/16.
body
   div
      h1 PDF Server
      p This is a pdf reader server
      form(action="http://localhost:8000/upload" method="post", encType="multipart/form-data")
         input(type="file", name="uploadFile")
         input(type="submit", value="Upload")

//script(src="https://code.jquery.com/jquery-2.2.0.min.js")